/* Fonts */
@font-face {
   font-family: "Trajan Pro";
   src: url('fonts/TrajanPro-Regular.ttf');
}

@font-face {
   font-family: "Adobe Garamond Pro";
   src: url('fonts/AGaramondPro-Regular.ttf');
}


/* General style */
body {
  width: 800px;
	font-family: "garamond";
  font-size:10pt;
  margin: auto;
}

h2{
	font-family: "Trajan Pro";
	color:#014890;
}

/* Header */
header {
  display:block;
  position: absolute;
  top: 0;
  height: 82px;
  width:100%;
  background: #FFF;
  z-index: 10;
}

#logo{
  display:block;
  position: absolute;
  top: 18px;
  margin-left:10px;
}

#title {
  display:block;
  position: absolute;
  top: 20px;
  width: 740px;
  text-align:right;
	color:#014890;
  font-size: 1.4em;  
	}

#flag {
  display:block;
  position: absolute;
  top: 24px;
  width: 790px;
  text-align:right;
	}

header hr{
  position: absolute;
  top : 80px;	
  margin: 0 12px;
	color:#014890;
	width:776px;
}




/* Section */
section{
  display:block;
  position: absolute;
}

tr {
	vertical-align:top;
	}

.marge1 {
	margin-left:30px;
	}

.result {
	font-weight:bold;
	color:#000;
	}

	
@media print {
	body {
		margin: 10px 10px 0px 10px;
		font-family: times;
		font-size:11pt;
		}
	h1 {
		font-size:16pt;
		}

	h2 {
		font-size:12pt;
		}

	.noprint {
		display:none;
		}
	}
