/* Fonts */
@font-face {
   font-family: "Trajan Pro";
   src: url('fonts/TrajanPro-Regular.ttf');
}

@font-face {
   font-family: "Adobe Garamond Pro";
   src: url('fonts/AGaramondPro-Regular.ttf');
}


/* General style */
body {
	width: 900px;
	font-family: "garamond";
	font-size:12pt;
	margin: auto;
}

h2{
	font-family: "Trajan Pro";
	color:#014890;
}

/* Header */
header {
	display:block;
	position: absolute;
	top: 0;
	height: 82px;
	background: #FFF;
	z-index: 10;
}

#logo{
	display:block;
	position: absolute;
	top: 18px;
	margin-left:10px;
}

#title,#subtitle {
	display:block;
	position: absolute;
	top: 20px;
	width: 845px;		/* Mettre 745 si traductions */
	text-align:right;
	color:#014890;
	font-size: 1.4em;  
}

#subtitle {
	top: 45px;
	font-size: 1.2em;  
}

#flag {
	display:block;		/* Mettre block si traductions */
	position: absolute;
	top: 25px;
	width: 890px;
	text-align:right;
}

header hr{
	position: absolute;
	top : 80px;	
	margin: 0 12px;
	color:#014890;
	width:876px;
}

.CJP{
	text-align: left;
}